@import '../variables.scss';

.header {
  position: fixed;
  top: 39px;
  left: 0;
  width: 100%;
  z-index: 999999999999999;
  border-bottom: 1px solid #e8e8ed;

  .container {
    padding: 15px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
  }

  &__logo {
    display: flex;

    @media screen and (max-width: 500px) {
      margin-right: 30px;
    }

    h1 {
      color: #181818;
      font-size: 18px;
      letter-spacing: 1%;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
      font-size: 14px;

      @media screen and (max-width: 1200px) {
        display: none;
      }
    }
  }

  &-top {
    background-color: $header-background;
    top: 0;

    .container {
      padding: 8px 100px;
      width: 100%;
      background-color: transparent;

      @media screen and (max-width: 1300px) {
        max-width: 100%;
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }

  &__location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;

    &-icon {
      margin-right: 5px;
      svg {
        fill: #fff;
      }
    }

    &-city {
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      color: #fff;
    }
  }

  &__user-account {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;

    &-icon {
      margin-right: 5px;
      svg {
        fill: #fff;
      }
    }

    &-text {
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      color: #fff;

      @media screen and (max-width: 1200px) {
        display: none;
      }
    }
  }

  &__cart {
    display: flex;

    button {
      padding-left: 5px;
      border: none;
      outline: none;
      background-color: transparent;
    }
  }
}
