.search {
  width: 100%;
  height: 40vh;
  position: fixed;
  top: 135px;
  left: 0;
  z-index: 999999999999999;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #fff;

  &__container {
    padding: 20px 0;
    position: relative;
    width: 100%;
    max-width: 1104px;
    margin: 0 auto;
  }

  &__button-close {
    position: absolute;
    right: 10px;
    top: 20px;
    outline: none;
    border: none;
    background-color: transparent;
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    display: inline-block;
  }
}

.input__field {
  font-size: 16px;
  height: 40px;
  outline: none;
  padding: 0 40px;
  width: 100%;
  border: none;
  padding-bottom: 5px;
}
